---
layout: default
---
<article class="post">

  {% if page.thumbnail %}
  <img class="post__hero" src="{{ page.thumbnail | relative_url }}" alt="" loading="lazy">
  {% endif %}

  <p class="post__meta">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    <span class="post__dot">&middot;</span>
    <span>{{ content | strip_html | number_of_words | divided_by: 200 | at_least: 1 }} min read</span>
  </p>

  <h1 class="post__title">{{ page.title }}</h1>

  <div class="post__body">
    {{ content }}
  </div>

  <a class="post__back" href="{{ '/blog/' | relative_url }}">&larr; Back to all posts</a>

</article>